<div class="feature-page-content">
  <mat-tab-group>
    <mat-tab label="Tiempo real">  
      <div class="container real-time-container">
        <app-real-time></app-real-time>
      </div>
    </mat-tab>
    <mat-tab label="Histórico"> 
      <div class="container historic-container">
        <app-data-historic></app-data-historic>
      </div>
    </mat-tab>
    <mat-tab label="Datos tabulares"> 
      <div class="container tabular-container">
        <app-data-tabular></app-data-tabular>
      </div>
    </mat-tab>
  </mat-tab-group>
  
</div>
