## DATABASE
POSTGRES_USER=postgres-sbc-pms
POSTGRES_PASSWORD=postgres-sbc-pms
POSTGRES_DB=db_sbc_pms
POSTGRES_HOST=192.168.1.210
POSTGRES_PORT=5432

## KAFKA
KAFKA_BROKER=192.168.1.210:9092

## API
BACKEND_APP_PORT=3000
JWT_SECURITY=secret
