
<div class="feature-page-content">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" fx>
        <mat-card-title>Dispositivos</mat-card-title>
        <button mat-stroked-button class="my-button" (click)="openUpsertDialog(false)">Crear +</button>
      </div>
      <div class="responsive-table-container">
        <div class="table-wrapper">
          <table mat-table [dataSource]="dataSource"  >
        
            <ng-container matColumnDef="nro">
              <th mat-header-cell *matHeaderCellDef> NRO </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <ng-container matColumnDef="id_device">
              <th mat-header-cell *matHeaderCellDef> IDENTIFICADOR </th>
              <td mat-cell *matCellDef="let element"> {{element.id_device}} </td>
            </ng-container>
        
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
        
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef> ESTADO </th>
              <td mat-cell *matCellDef="let element">
                  <span [ngClass]="element.active ? 'chip-active' : 'chip-inactive'"> {{ element.active ? 'Activo' : 'Inactivo' }} </span>
              </td>
            </ng-container>
            

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openSettingsDialog(element)">
                  <mat-icon>settings</mat-icon>
                </button>
                <button mat-icon-button (click)="openUpsertDialog(true, element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteDevice(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator [length]="dataSource.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  