

.feature-page-content {
  .table-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  .responsive-table-container {
    display: flex;
    flex-direction: column;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-header-cell,
  td.mat-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .mat-card {
    max-width: 800px;
    margin: 0 auto;
  }
  
}


.mat-dialog {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  .parameter-table-header {
    display: flex;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
  }
  
  .parameter-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .parameter-cell {
    flex: 1;
    margin-right: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
  }
  
  .parameter-cell:last-child {
    margin-right: 0;
  }

  mat-checkbox {
    .mdc-form-field,
    .mat-internal-form-field {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 12px !important;  
    }

    label {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
      font-size: 12px !important;  
    }

    .mat-mdc-checkbox label {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
      font-size: 12px !important;  
    }
  }

  
  .mat-mdc-checkbox label {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 12px !important;  
  }

}


.mat-mdc-checkbox label {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-size: 12px !important;  
}

.parameter-list {
  overflow-x: auto; /* Permite scroll horizontal */
  display: flex;
  flex-direction: column;
}

.parameter-row {
  display: flex;
  align-items: center;
  gap: 16px; /* Espaciado entre celdas */
  flex-wrap: nowrap; /* Evita que las filas se rompan */
  min-width: 600px; /* Asegura que el contenido tenga un ancho mínimo */
}

@media (max-width: 600px) {
  .parameter-list {
    width: 100%;
    overflow-x: auto;
  }

  .parameter-row {
    min-width: 600px; /* Para que no se colapsen los campos */
  }
}
