<ion-menu side="start" type="overlay" contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item *ngFor="let permission of userPermissions" button [routerLink]="permission.path">
        <ion-icon slot="start" [name]="permission.icon"></ion-icon>
        <ion-label>{{ permission.description }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Plataforma de monitoreo de rendimiento para computadoras de placa única</ion-title>
    <ion-buttons slot="end">
      <span style="margin-right: 10px; ">{{ userData.first_name }} {{ userData.last_name }}</span>
      <ion-button (click)="logout()" fill="clear">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- Main content -->
<ion-content>
  <div class="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-text"> Trabajo final de la carrera de especialización en Internet de las Cosas, LSE - FIUBA 2025</ion-title>
  </ion-toolbar>
</ion-footer>