ion-menu {
  text-align: center;
  ion-title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  ion-content{
    ion-label {
      font-size: 14px;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }
}

ion-header {
  ion-toolbar {
    ion-title {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
    }

    ion-button {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 12px;

      .button-native {
        border-radius: 10px;
      }
    }


  }
}

ion-footer {
  text-align: center;
  ion-title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
  }
}