
.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fc;

  mat-card {
    width: 100%;
    max-width: 800px;
    display: flex;
    padding: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;

    .login-form {
      flex: 1;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;

      .login-title {
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }

      .login-body {
        flex: 1;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
      }
    }
  }
  
}


.login-content {
  display: flex;
  width: 100%;
}




.login-subtitle {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-bottom: 10px;
}

.login-title h1, .login-subtitle {
  color: #333;
  margin: 0;
}

.login-input {
  margin-bottom: 16px;
  width: -webkit-fill-available;
}


.login-footer {
  text-align: center;
  margin-top: 16px;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
}

.login-image {
  flex: 1;
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  height: 100%;
  width: 100%;
}

.login-form {
  text-align: center;
}

@media (max-width: 768px) {
  mat-card {
    margin: 20px;
  }

  .login-content {
    flex-direction: column;
    align-items: center;
  }

  .login-image {
    display: none;
  }
}