<div class="login-container">
  <mat-card>
    <div class="login-content">
      <div class="login-form">
        <div class="login-title">
          <h1>Plataforma de monitoreo de rendimiento para computadoras monoplaca basadas en Linux</h1>
        </div>
        <div class="login-body">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <mat-form-field class="login-input" appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="Ingresa correo" type="email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="login-input" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingresa password" type="password" formControlName="password" required>
            </mat-form-field>
            <div class="login-button-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLogin">Ingresar</button>
            </div>
          </form>
        </div>
        
      </div>
      <div class="login-image">
        <img src="assets/images/sbc.jpg" alt="Login Image">
      </div>
    </div>
  </mat-card>
</div>
